
element.style {
}

body {
	font-family: Verdana, sans-serif;
	background-color: black;
	color: white;
	text-align: center;
}

h1 {
	text-align: center;
	font-size: 50px;
	color: white;
	font-family: Verdana, sans-serif;
	font-weight: normal;
}


.cta {
	color: #7fffd4;
	font-size: 16px;
}

h2 {
	font-family: Verdana, sans-serif;
	font-weight: 300;
	font-size: 42px;
}

p {
	font-family: Verdana, sans-serif;
	font-size: 21px;
	color: #808080;
}

.footer {
	text-align: right;
	color: #808080;
}
